ul.instruction
  li Before you try this app, make sure your device’s green light is on, and that you have checked the “Allow Web Apps” box in the Leap Motion Control Panel (General tab).
  li.say_hello After that, say "Hello" by your right hand.

.hi
  .hand

