div(keypress-events)
  #left.inline
    .task(title="Response")
      .word.inline
        .recognized.char.correct Add new gesture
  #right.inline
    .task
      .word.inline
        .recognized.char.correct Sandbox
  .progress

  #left.inline
    #visualizer

  #right.inline
    br
    h2 Instructions
    ol
      li Enter the gesture name
      li Place your hand in the working area of the LeapMotion controller
      li Draw the gesture you want to add. Make sure that LeapMotion has recognized the position of the fingers and the palm correctly
      li Use your free hand to press the Space bar to save the gesture configuration
      li Repeat the steps 2-4 at least 10 times (I personally take 40 measurements) while adding minor deviations (small palm turns, some changes in the fingers position)
      li Press the Add button to add the gesture into the SandBox mode

    br
    form.form.form-horizontal(ng-submit="add()")
      .form-group
        label.control-label.col-sm-4(for="name") Gesture name:
        .col-sm-4
          input.form-control#name(ng-model="g.name" required)

      .form-group
        label.control-label.col-sm-4 Captures count:
        .col-sm-4
          p.form-control-static {{set.length}}

      .form-group
        .col-sm-4.col-sm-offset-4
          button.btn.btn-default(type="submit") Add
