#left.inline
  .task
    .word.inline
      .char(ng-repeat="char in word track by $index" ng-class="char.status") {{char.name}}
    .score.inline
      .dictionary
      .total
        .title SCORE:
        | {{ score }}
  .progress
    .done
  #visualizer

#right.inline
  .language
    span.language_select_label.inline Language:
    span.selector
      i.fa.fa-caret-down.language_select_down
      ul.language_selector.inline(ng-class="{opened:open}" ng-click="open=!open")
        li {{cur_lang.label}}
        li(ng-repeat="lang in languages" ng-click="set_lang(lang)") {{lang.label}}
  .alphabet
    .char(ng-repeat="char in alphabet" ng-class="{current: char.name == recognized}")
      img(src="img/dic/{{cur_lang.dictionary}}/{{char.file}}.png" width="100%" title="{{char.name}}")
      .status(ng-class="char.status")
  .description
    p.desc_info Gescture recognition status:
    ul.desc
      li
        .status.good
        | Good recognition ability
      li
        .status.poor
        | Poor recognition ability
      li
        .status.unsupported
        | Unsupported or untrackable
