#left.inline
  .task(title="Type word")
    .word.inline
      .char(ng-repeat="char in word track by $index" ng-class="[char.status]") {{char.name}}

#right.inline
  .score
    .dictionary
    .total
      .title SCORE:
      | {{ score }}
.progress

#left.inline
  #visualizer

#right.inline
  .language
    form.form
      span.language_select_label.inline Language:
      .form-group.inline
        select.form-control(ng-options="lang.label for lang in languages" ng-model="cur_lang")

  .alphabet
    a.char.new_char(href="#/sandbox")
      img(src="img/dic/plus.png" width="100%" title="Add new gesture")
    .char(ng-repeat="char in alphabet" ng-class="{current: char.name == recognized}")
      img(ng-if="char.file" src="img/dic/{{cur_lang.dictionary}}/{{char.file}}.png" width="100%" title="{{char.name}}")
      span.unimaged(ng-if="!char.file") {{char.name}}
      img(ng-if="!char.file" src="img/dic/empty.png" width="100%" title="{{char.name}}")
      .status(ng-class="char.status")
  .description
    p.desc_info Gescture recognition status:
    ul.desc
      li
        .status.good
        | Good recognition ability
      li
        .status.poor
        | Poor recognition ability
      li
        .status.unsupported
        | Unsupported or untrackable
