#left.inline
  .task
    .word
      .char(ng-repeat="char in word track by $index" ng-class="char.status") {{char.name}}
  .progress
    .done
  #visualizer

#right.inline
  .score
    .dictionary
    .total
      .title SCORE:
      | {{ score }}


  .alphabet
    .char(ng-repeat="char in alphabet" ng-class="{current: char.name == recognized}")
      img(src="img/dic/ru/{{char.file}}.png" width="100%" title="{{char.name}}")
      .status(ng-class="char.status")
