div(keypress-events)
  #left.inline
    #visualizer

  #right.inline
    p Введите имя и хотябы 10 раз заскринте
    form.form.form-horizontal(ng-submit="add()")
      .form-group
        label.control-label.col-sm-4(for="name") Gesture name:
        .col-sm-4
          input.form-control#name(ng-model="g.name" required)

      .form-group
        label.control-label.col-sm-4 Captures count:
        .col-sm-4
          p.form-control-static {{set.length}}

      .form-group
        .col-sm-4.col-sm-offset-4
          button.btn.btn-default(type="submit") Add

      .form-group
        label.control-label.col-sm-4 Result:
        .col-sm-4
          pre {{ params | json}}

