div(keypress-events)
  #left.inline
    #visualizer

  #right.inline
    p Введите имя и хотябы 10 раз заскринте
    form.form.form-vertical(ng-submit="add()")
      .form-group
        label.control-label(for="name") Gesture name
        input.form-control#name(ng-model="name")

      button.btn.btn-default(type="submit") Add
