#left.inline
  .task(title="Response")
    .word.inline
      .recognized.char.correct {{recognized}}

#right.inline
  .task
    .word.inline
      .recognized.char.correct Sandbox
.progress

#left.inline
  #visualizer

#right.inline
  .language
    a.back(href="#/main") Back to normal mode

  .alphabet
    a.char.new_char(href="#/dev")
      img(src="img/dic/plus.png" width="100%" title="Add new gesture")
    .char(ng-repeat="char in alphabet" ng-class="{current: char.name == recognized}")
      img(ng-if="char.file" src="img/dic/{{cur_lang}}/{{char.file}}.png" width="100%" title="{{char.name}}")
      span.unimaged {{char.name}}
      img(ng-if="!char.file" src="img/dic/empty.png" width="100%" title="{{char.name}}")
      .status(ng-class="char.status")
