@import "reset";
@import "layout";

#grs{
  min-width: 800px;
}

.task{
  .word {
    text-align: center;
    letter-spacing: 8px;
    .char{
      display: inline-block;
      font-size: 50px;
      color: #aaa;
      font-weight: bold;

      &.correct {
        color: green;
      }
      &.wrong {
        color: red;
      }
    }
  }
}

.score {
  height: 70px;
  .title {
    font-size: 40px;
    display: inline;
    margin-right: 10px;
  }
  .total {
    color: green;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
}

.alphabet {
  .char{
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 120px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid transparent;
    &:hover, &.current {
      border: 1px solid green;
    }
  }
}

.progress {
  display: block;
  background: #ddd;
  height: 10px;
  width: 100%;
  .done {
    background: forestgreen;
    width: 80%;
    height: 10px;
  }
}


#visualizer {
  position: relative;
  height: 400px;
  width: 100%;
  > canvas {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
  }
}
#connect-leap {
  top: 90px !important;
}
.gesture {
    margin-bottom: 10px;
}
