@import "reset";
@import "layout";

#grs{
  min-width: 800px;
}

#task{
  .word {
    text-align: center;
    letter-spacing: 8px;
    .char{
      display: inline-block;
      font-size: 50px;
      color: #aaa;
      font-weight: bold;

      &.correct {
        color: green;
      }
      &.wrong {
        color: red;
      }

    }
  }
}

#progress {
  display: block;
  background: #ddd;
  height: 10px;
  width: 100%;
  .done {
    background: forestgreen;
    width: 80%;
    height: 10px;
  }
}


#visualizer {
  position: relative;
  height: 400px;
  width: 100%;
  > canvas {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
  }
}
#connect-leap {
  top: 90px !important;
}
.gesture {
    margin-bottom: 10px;
}
