doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')

    script(data-main='js/init', src='js/libs/require.js')
    //script(src="modules.js")
  body
    #view(ng-view='')
